<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello! Please Verfy your email id</title>
</head>
<body>
    <a href="http://localhost:6000/api/users/verfy-mail">test link!</a>
    <button style="background-color:#F0B22E;" onclick = "showAny()">verify email address</button> 
</body>
</html>

